body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #2C3333;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /*1em = 16px = 100% rem == Const em Value*/
    margin: 50px auto 0 auto;
    color: #FD841F;
    font-weight: bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: purple;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FF1E1E;
    margin: 0 auto 0 auto;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: green;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #2192FF;
    margin: 5px 10px;
}

p {
    line-height: 1.5;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;

}

.Top-container {
    background-color: #B1B2FF;
    position: relative;
    padding-top: 300px;
}

.Middle-container {
    background-color: #D2DAFF;
    padding-top: 100px;
    padding-bottom: 20px;
}

.Bottom-container {
    background-color: #EEF1FF;
    color: #000000;
    padding: 10px 0 10px;
}

.footer-link {
    color: #570A57;
}

.Top-cloud {
    position: absolute;
    right: 500px;
    top: 200px;
}

.Bottom-cloud {
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.Left-cloud { /* Right Cloud On Website*/
    position: absolute;
    right: 200px;
    top: 550px;
}

.Right-cloud { /* Left Cloud On Website*/
    position: absolute;
    left: 200px;
    bottom: 600px;
}

.skill-row {
    width: 85%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.python {
    float: left;
    margin-right: 30px;
}

.C-Cpp {
    float: right;
    margin-left: 30px;
}

.Embedded-systems {
    float: left;
    margin-right: 30px;
}

.Hacking {
    float: right;
    margin-left: 30px;
}

.iot {
    float: left;
    margin-right: 30px;
}

.Matlab {
    float: right;
    margin-left: 30px;
}

.FSWD {
    float: left;
    margin-right: 30px;
}

.Web-Design {
    float: right;
    margin-left: 30px;
}

.git {
    float: left;
    margin-right: 30px;
}

.Linux {
    float: right;
    margin-left: 30px;
}

.Ubuntu {
    float: left;
    margin-right: 30px;
}

.html-5 {
    float: right;
    margin-left: 30px;
}

.Css-3 {
    float: left;
    margin-right: 30px;
}

.JavaScript-3 {
    float: right;
    margin-left: 30px;
}

.Node-JS {
    float: left;
    margin-right: 30px;
}

.React-Lang {
    float: right;
    margin-left: 30px;
}

.SQL {
    float: left;
    margin-right: 30px;
}

.GnuBash {
    float: right;
    margin-left: 30px;
}

.Api {
    float: left;
    margin-right: 30px;
}

.Authentication {
    float: right;
    margin-left: 30px;
}

.Blockchain {
    float: left;
    margin-right: 30px;
}

.BootStrap {
    float: right;
    margin-left: 30px;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
